body {
    background-color: #FFFFFF;
}

.principal-info {
    background-color: #f5f6f7;
    display: inline-block;
    /* height: 300px; */
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #1b2f3b;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 45px;
}

.subtitle {
    text-align: center;
    color: darkslategrey;
    font-size: 22.5px;
    padding-left: auto;
}

.btn-search-opportunities {
    background-color: #FE7F2D;
    color: #FFFFFF;
    margin-left: auto;
}

.btn-search-opportunities:hover {
    background-color: #c36222;
    color: #FFFFFF;
}

.btn-share-an-opportunity {
    color: #FFFFFF;
}

.btn {
    font-size: 20px;

}

h2 {
    font-size: 30px;
    color: #1b2f3b;
    text-align: center;
    padding: 10px;
}

.card-margin {
    margin-bottom: 15px;
}

.card-images {
    width: auto;
    max-height: 100px;
    border-radius: 10%;
}

hr {
    border-top: 2px solid darkslategrey;
    margin-right: 30px;
    margin-left: 30px;

}

.contact-info {
    color: darkgray;
    font-size: 20px;
    text-align: center;
}